<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="script.AmazonTC2"/>
      <class name="script.AmazonTC3"/>
      <class name="script.AmazonTC10"/>
      <class name="script.AmazonTC1"/>
      <class name="script.LoginPom"/>
      <class name="script.AmazonTC8"/>
      <class name="script.AmazonTC9"/>
      <class name="script.AmazonTC6"/>
      <class name="script.AmazonTC7"/>
      <class name="script.AmazonTC4"/>
      <class name="script.AmazonTC5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
